.slideshow-container {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr repeat(7, 30px) 1fr;
    align-items: center;
    justify-items: center;
}

main.slideshow-carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 10;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 7;
    --middle: 4;
    --position: 1;
    pointer-events: none;
}

div.slideshow-item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    pointer-events: auto;
}

div.slideshow-item:hover {
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r))) scale(1.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

div.slideshow-item:nth-of-type(1) {
    --offset: 1;
}

div.slideshow-item:nth-of-type(2) {
    --offset: 2;
}

div.slideshow-item:nth-of-type(3) {
    --offset: 3;
}

div.slideshow-item:nth-of-type(4) {
    --offset: 4;
}

div.slideshow-item:nth-of-type(5) {
    --offset: 5;
}

div.slideshow-item:nth-of-type(6) {
    --offset: 6;
}

div.slideshow-item:nth-of-type(7) {
    --offset: 7;
}

.slideshow-container input[type="radio"] {
    z-index: 10;
    cursor: pointer;
}

.slideshow-container input[type="radio"]:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.slideshow-container input[type="radio"]:nth-of-type(1):checked~main.slideshow-carousel {
    --position: 1;
}

.slideshow-container input[type="radio"]:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.slideshow-container input[type="radio"]:nth-of-type(2):checked~main.slideshow-carousel {
    --position: 2;
}

.slideshow-container input[type="radio"]:nth-of-type(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.slideshow-container input[type="radio"]:nth-of-type(3):checked~main.slideshow-carousel {
    --position: 3;
}

.slideshow-container input[type="radio"]:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

.slideshow-container input[type="radio"]:nth-of-type(4):checked~main.slideshow-carousel {
    --position: 4;
}

.slideshow-container input[type="radio"]:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

.slideshow-container input[type="radio"]:nth-of-type(5):checked~main.slideshow-carousel {
    --position: 5;
}

.slideshow-container input[type="radio"]:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}

.slideshow-container input[type="radio"]:nth-of-type(6):checked~main.slideshow-carousel {
    --position: 6;
}

.slideshow-container input[type="radio"]:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}

.slideshow-container input[type="radio"]:nth-of-type(7):checked~main.slideshow-carousel {
    --position: 7;
}